{% extends "template.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>To the on-line butterfly classification system</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="float: none; margin: 0 auto;">

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
	<div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
              </button>
              <button type="button" class="btn btn-primary next">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="links">
      <a href="/images/Apatura-iris.jpg" title="Apatura-iris.jpg" data-gallery><img height=48 width=64 src="/images/Apatura-iris.jpg" ></a>
      <a href="/images/Aphantopus-hyperantus.jpg" title="Aphantopus-hyperantus.jpg" data-gallery><img height=48 width=64 src="/images/Aphantopus-hyperantus.jpg" ></a>
      <a href="/images/Argynnis-adippe.jpg" title="Argynnis-adippe.jpg" data-gallery><img height=48 width=64 src="/images/Argynnis-adippe.jpg" ></a>
      <a href="/images/Aricia-agestis.jpg" title="Aricia-agestis.jpg" data-gallery><img height=48 width=64 src="/images/Aricia-agestis.jpg" ></a>
      <a href="/images/Aricia-artaxerxes.jpg" title="Aricia-artaxerxes.jpg" data-gallery><img height=48 width=64 src="/images/Aricia-artaxerxes.jpg" ></a>
      <a href="/images/Boloria-selene.jpg" title="Boloria-selene.jpg" data-gallery><img height=48 width=64 src="/images/Boloria-selene.jpg" ></a>
      <a href="/images/Callophrys-rubi.jpg" title="Callophrys-rubi.jpg" data-gallery><img height=48 width=64 src="/images/Callophrys-rubi.jpg" ></a>
      <a href="/images/Celastrina-argiolus.jpg" title="Celastrina-argiolus.jpg" data-gallery><img height=48 width=64 src="/images/Celastrina-argiolus.jpg" ></a>
      <a href="/images/Coenonympha-tullia.jpg" title="Coenonympha-tullia.jpg" data-gallery><img height=48 width=64 src="/images/Coenonympha-tullia.jpg" ></a>
      <a href="/images/Cupido-minimus.jpg" title="Cupido-minimus.jpg" data-gallery><img height=48 width=64 src="/images/Cupido-minimus.jpg" ></a>
      <a href="/images/Erebia-epiphron.jpg" title="Erebia-epiphron.jpg" data-gallery><img height=48 width=64 src="/images/Erebia-epiphron.jpg" ></a>
      <a href="/images/Euphydryas-aurinia.jpg" title="Euphydryas-aurinia.jpg" data-gallery><img height=48 width=64 src="/images/Euphydryas-aurinia.jpg" ></a>
      <a href="/images/Hesperia-comma.jpg" title="Hesperia-comma.jpg" data-gallery><img height=48 width=64 src="/images/Hesperia-comma.jpg" ></a>
      <a href="/images/Hipparchia-seleme.jpg" title="Hipparchia-seleme.jpg" data-gallery><img height=48 width=64 src="/images/Hipparchia-seleme.jpg" ></a>
      <a href="/images/Inachis-io.jpg" title="Inachis-io.jpg" data-gallery><img height=48 width=64 src="/images/Inachis-io.jpg" ></a>
      <a href="/images/Lasiommata-megera.jpg" title="Lasiommata-megera.jpg" data-gallery><img height=48 width=64 src="/images/Lasiommata-megera.jpg" ></a>
      <a href="/images/Leptidea-sinapis.jpg" title="Leptidea-sinapis.jpg" data-gallery><img height=48 width=64 src="/images/Leptidea-sinapis.jpg" ></a>
      <a href="/images/Lycaena-phlaeas.jpg" title="Lycaena-phlaeas.jpg" data-gallery><img height=48 width=64 src="/images/Lycaena-phlaeas.jpg" ></a>
      <a href="/images/Lysandra-bellargus-FEMALE.jpg" title="Lysandra-bellargus-FEMALE.jpg" data-gallery><img height=48 width=64 src="/images/Lysandra-bellargus-FEMALE.jpg" ></a>
      <a href="/images/Melanargia-galathea.jpg" title="Melanargia-galathea.jpg" data-gallery><img height=48 width=64 src="/images/Melanargia-galathea.jpg" ></a>
      <a href="/images/Melitaea-athalia.jpg" title="Melitaea-athalia.jpg" data-gallery><img height=48 width=64 src="/images/Melitaea-athalia.jpg" ></a>
      <a href="/images/Neozephyrus-quercus-FEMALE.jpg" title="Neozephyrus-quercus-FEMALE.jpg" data-gallery><img height=48 width=64 src="/images/Neozephyrus-quercus-FEMALE.jpg" ></a>
      <a href="/images/Papilio-machaon.jpg" title="Papilio-machaon.jpg" data-gallery><img height=48 width=64 src="/images/Papilio-machaon.jpg" ></a>
      <a href="/images/Pieris-brassicae-FEMALE.jpg" title="Pieris-brassicae-FEMALE.jpg" data-gallery><img height=48 width=64 src="/images/Pieris-brassicae-FEMALE.jpg" ></a>
      <a href="/images/Pieris-napi-FEMALE.jpg" title="Pieris-napi-FEMALE.jpg" data-gallery><img height=48 width=64 src="/images/Pieris-napi-FEMALE.jpg" ></a>
      <a href="/images/Pieris-napi-MALE.jpg" title="Pieris-napi-MALE.jpg" data-gallery><img height=48 width=64 src="/images/Pieris-napi-MALE.jpg" ></a>
      <a href="/images/Pieris-rapae-FEMALE.jpg" title="Pieris-rapae-FEMALE.jpg" data-gallery><img height=48 width=64 src="/images/Pieris-rapae-FEMALE.jpg" ></a>
      <a href="/images/Pieris-rapae-MALE.jpg" title="Pieris-rapae-MALE.jpg" data-gallery><img height=48 width=64 src="/images/Pieris-rapae-MALE.jpg" ></a>
      <a href="/images/Polyommatus-icarus.jpg" title="Polyommatus-icarus.jpg" data-gallery><img height=48 width=64 src="/images/Polyommatus-icarus.jpg" ></a>
      <a href="/images/Satyrium-pruni.jpg" title="Satyrium-pruni.jpg" data-gallery><img height=48 width=64 src="/images/Satyrium-pruni.jpg" ></a>
      <a href="/images/Thymelicus-acteon-MALE.jpg" title="Thymelicus-acteon-MALE.jpg" data-gallery><img height=48 width=64 src="/images/Thymelicus-acteon-MALE.jpg" ></a>
      <a href="/images/Thymelicus-lineola.jpg" title="Thymelicus-lineola.jpg" data-gallery><img height=48 width=64 src="/images/Thymelicus-lineola.jpg" ></a>
      <a href="/images/Thymelicus-sylvestris.jpg" title="Thymelicus-sylvestris.jpg" data-gallery><img height=48 width=64 src="/images/Thymelicus-sylvestris.jpg" ></a>
      <a href="/images/Vanessa-cardui.jpg" title="Vanessa-cardui.jpg" data-gallery><img height=48 width=64 src="/images/Vanessa-cardui.jpg" ></a>   
    </div>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="js/bootstrap.min.js"></script> -->
{% endblock %}
    
