{% extends "template.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>About Me</h1>
  </div>
</div>

<!-- Main contents of page -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-8">
      <h2>What's up yo</h2>
    </div>
  </div>
</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="js/bootstrap.min.js"></script> -->
{% endblock %}
